<style>body{
background-color: #483D8B;
color: #C28925;
font-size: 20px; 
font-color: 0XFFFFFF;
font-family: Times New Roman, Sans-Serif;
margin: 10px;
border: 5px solid #0F1102;
padding: 5px;
align:center;
box-shadow: 10px 5px 5px #FF091F;
}
h1{
font-size: 40px; 
font-color: 0XFFFFFF;
font-family: Times New Roman, Sans-Serif;
color: #FFFFFF;
align:center;
text-shadow: 10px 5px 5px #000000;
}
h2{
font-size: 40px; 
font-color: #FFFFFF;
font-family: Times New Roman, Sans-Serif;
color: #FFFFFF;
text-shadow: 10px 5px 5px #000000;
align:center;
}
tr:nthchild(even){
background-color: #F0E68C;
}
table,tr{
background-color: #6074F0;
border-size:20px;
border-style: solid;
border-color: #3F26F1;
outline-size:30px;
outline-color: red;
outline-width:20px;
width:30%;
height:5px; 
veritical-align: top;
text-align:left;
border-radius:10px;
font-size:20px;
font-color: #2F4F4F;
font-family: Tahoma, Sanf-Serif;
font-style:normal;
font-weight: bold;
}
input{
align:center;
size:300;
border-radius: 5px;
cols:"40";
rows:"4";	
}
a{
color:#FFFFFF;
font-color:#FF22F2;
}
</style>
